
body{
	background: #f2f2f2;
	font-family: Verdana;
}

.myTitle{
	font-size: 22px;
	font-style: bold;
	margin-left: 10px;
}

.myText{
	margin-left: 10px;
}

.myTile{
	background: #ffa500;
	width: 200px;
	height: 50px;
	float: left;
	margin: 10px;
	text-align:center;
	vertical-align: middle;
	border-radius: 10px;
	display: flex;
    justify-content: center; /* align horizontal */
    align-items: center; /* align vertical */
}

.myTile:hover{
	cursor:pointer;
	background:#ff6500;
}

